*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('backgroundimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    background-color: rgb(14, 14, 37);
    color: white;
    text-align: center;
    line-height: 5rem;
}
.choices{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

img{
    height: 160px;
    width: 160px;
    object-fit: cover;  
    border-radius: 50%;  
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}
.score-board{
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: 700;
    font-size: xx-large;
    gap: 70px;
    margin-top: 50px;
}
.msg-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#msg{
    color: white;
    background-color: rgb(23, 23, 54);
    font-size: 1.5rem;
    padding: 10px 20px;
    display: inline;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10%; 
}
#scissor{
   border-style: solid;
   border-radius: 50%;
   border-width: 5px;
   border-color: white;
}
